[defaults]
inventory = ./inventory.yaml
roles_path = ./roles
library = ./library
host_key_checking = True
retry_files_enabled = False
gathering = explicit
timeout = 15
forks = 5

[ssh_connection]
ssh_args = -F /dev/null -o ControlMaster=no -o BatchMode=yes -o IdentitiesOnly=yes -o IdentityAgent=none -o PasswordAuthentication=no -o KbdInteractiveAuthentication=no -o PreferredAuthentications=publickey -o ForwardAgent=no -o ForwardX11=no -o ClearAllForwardings=yes -o PermitLocalCommand=no -o UpdateHostKeys=no
retries = 0

[privilege_escalation]
become_method = sudo
become_flags = -n
