# Managed by Bareplane kubernetes_install v1.
Package: kubeadm kubelet kubectl
Pin: version {{ bareplane_kubernetes_package_version }}
Pin-Priority: 1000

Package: cri-tools
Pin: version {{ bareplane_cri_tools_package_version }}
Pin-Priority: 1000
